body {
  margin: 0;
  font-family: 'Roboto';
}

nav {
  display: block;
  background-color: DarkRed;
  overflow: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  font-size: 5vw;
  margin: 5vw 6vw;
  text-decoration: none;
  color: white;
}

.content {
  margin: 6vw;
}

.content h1 {
  font-size: 15vw;
  font-weight: lighter;
  margin: 0;
}

.content p {
  font-size: 5vw;
  font-weight: lighter;
  margin: 0;
}
