body {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
}

.content {
  margin: 0 5vw;
}

nav {
  background-color: grey;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li>* {
  display: block;
  text-align:center;
  padding: 5vw 5vw;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav #login-form {
  background-color: DimGrey;
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: space-evenly;
  align-items: center;
}

nav #login-form input {
  padding: 2rem;
  font-size: 2.7rem;
}

nav #login-form input:last-child {
  background-color: white;
  border: none;
}

nav .logout-link {
  background-color: DimGrey;
  text-align: center;
}

nav .logout-link button {
  font-size: 2.7rem;
  width: 100%;
  height: 10vh;
  background-color: inherit;
  border: none;
  color: inherit;
}

nav form {
  display:none;
}
