div#content {
  background-color: white;
  width: 100%;
  min-height: 1300px
}

.container {
  padding: 5rem;
}

#mapid {
  height: 1000px;
  width: 80%;
  margin: 0 auto;
	z-index: 1
}
#judul-konten {
font-size: 0.8rem;
text-align: left;
padding: 0 5% 30px;
}
#judul-konten h1 {
    margin: 0;
}