div#list {
  width:100%;
}

h1 {
  font-size: 4rem;
  font-family:Quicksand;
  color: white;
}

.tab {
padding: 15px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.tab div {
padding: 2rem;
font-size: 3rem;
text-align: center;
margin: 15px 0;
cursor: pointer;
}

.label {
  background-color: #fdb338;
  width: 100%;
  border-radius: 55px;
}

.box {
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 40px;
}
