table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 0.3rem solid black;
  padding: 1rem 1rem;
}

td {
  vertical-align: text-top;
}

.discussion {
  border: 1rem solid grey;
  margin: 4rem 0;
  padding: 1rem;
}

.post {
  padding: 1rem;
}
