body {
  background-color: blue;
  margin: 0;
  font-size:4rem;
}

navbar {
  display: block;
  height: 10vh;
  color: white;
}

navbar img {
  padding:3rem;
}

#navbar-options {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div#content {
  margin: auto;
  width:80%;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width:100%;
}
