body {
  background-color: blue;
  margin: 0;
  font-size:4rem;
}

navbar {
  display: block;
  height: 10vh;
  color: white;
}

navbar img {
  max-height:2rem;
  padding:3rem;
}

#navbar-options {
  float: right;
}

div#content {
  margin: auto;
  width:80%;
}
