body {
  background-color: #025196;
  margin: 0;
  padding-bottom: 10vh;
  font-size:4rem;
  font-family:Quicksand;
}

navbar {
display: inline-block;
/*height: 200px;*/
color: white;
position: fixed;
width: 100%;
background: #025196;
top: 0;
	z-index: 999
}

a {
	text-decoration: none;
	color: #025196
}
navbar a {
    display: inline-block;
}
navbar img {
    padding: 1rem 3rem;
    float: left;
}

#navbar-options {
  float: right;
}
#menunya {
    display: none;
}
#menunya + label + ul {
    display: none;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    background: #4a87b6;
position: fixed;
right: 0;
width: 100%;
}
#menunya + label + ul li {
    display: inline-block;
    width: 32%;
}
#menunya:checked + label + ul {
    display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	color: white;
font-weight: bold;
}

div#content {
margin: auto;
width: 80%;
margin-top: 150px;
margin-bottom: 150px;
}

footer {
background-color: #4a87b6;
position: fixed;
bottom: 0;
width: 100%;
font-size: 2rem;
padding: 1.5rem;
text-align: center;
z-index: 999;
color: white;
}
