body {
  background-color: DarkOrange;
  font-family: 'Roboto Condensed';
  /* height: 100vh;
  overflow: hidden; */
}

* {
  box-sizing: border-box;
}

.header {
  display:flex;
  align-items: center;
}

#logo {
  height: 20vw;
  margin-left: 2vw;
}

.dots {
  height: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dot {
  display: block;
  width: 18vw;
  height: 18vw;
  background-color: SaddleBrown;
  border-radius: 50%;
  box-shadow: 2vw 2vw maroon;
}

.dot.active {
  background-color: gold;
  box-shadow: 2vw 2vw GoldenRod;
}

.dot#first img {
  height: 14vw;
  margin: 2vw;
}

.dot#second img {
  height: 14vw;
  margin: 2vw;
}

.dot#third img {
  height: 12vw;
  margin: 3vw;
}

form {
  height: 50%;
}

form>* {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin: 0 5vw;
}

.first-inputs {
  padding: 0 5vw;
  /* display: block; */
}

#first-form input {
  background-color: #FFF8DC;
  margin-top: 15vw;
  width: 100%;
  height: 15vw;
  border: 2vw solid khaki;
  border-radius: 5vw;
  box-shadow: 2vw 2vw olive;
  padding: 4vw;
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: bold;
  font-size: 4vw;
}

#first-form img {
  margin-top: 5vw;
  width: 55vw;
  transform: translate(-5vw, 0);
}

#first-form #guy-text {
  color: #424200;
  font-size: 6vw;
  font-weight: bold;
  transform: translate(35vw, -45vw);
}

#next1 {
  transform: translate(-5vw, -30vw);
  /* position: fixed;
  bottom: 10vw;
  right: 10vw; */
}

#second-form .title {
  text-align: center;
  width: 100%;
  margin: 4vw 0 0 0;
  font-family: 'Roboto';
  font-size: 4vw;
  font-style: italic;
}

#second-form input {
  height:7vw;
  font-size: 3vw;
  border: 1vw solid khaki;
  padding: 1vw;
  box-shadow: 0 0 0 1vw olive;
  font-family: 'Roboto Condensed';
  font-weight: bolder;
  font-style: italic;
}

/* #second-form input:not(:focus) {
  font-color:italic;
} */

#second-form {
  height: 120vw;
}

.next {
  font-family: 'Roboto Condensed';
  font-size: 5vw;
  font-weight: bold;
  height: 10vw;
  width: 28vw;
  background-color: LightSeaGreen;
  border: none;
  border-radius: 1vw;
  box-shadow: 2vw 2vw DarkSlateGray;
  color: #00334c;
}

.back {
  height: 10vw;
  width: 20vw;
  border: none;
  border-radius: 1vw;
  background-color: LightSeaGreen;
  box-shadow: 2vw 2vw DarkSlateGray;
}

.back span {
  display: block;
  font-family: 'Roboto Condensed';
  font-size: 10vw;
  font-weight: bold;
  color: #00334c;
  transform: translate(0, -3vw);
}

#third-form {
  display: flex;
  align-items: center;
}

#kendala {
  width: 50%;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 8vw;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 3.5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 5vw;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vw;
  width: 5vw;
  background-color: khaki;
  border-radius: 50%;
  border: 0.5vw solid olive;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  border-radius: 50%;
  left: 0.5vw;
  top: 0.5vw;
  width: 3vw;
  height: 3vw;
  background-color: DarkOliveGreen;
}

.real-label {
  font-size: 3.5vw;
  font-style: italic;
  font-family: 'Roboto';
  font-weight: bold;
}

.desc-label {
  font-size: 2.3vw;
  font-weight: normal;
  font-style: italic;
}

.penghasilan {
  width: 50%;
}

.penghasilan input {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-size: 4vw;
  font-weight: bold;
  border: none;
  border-radius: 2vw;
  background-color: khaki;
  margin: 2vw 0 4vw 0;
  width: 100%;
  height: 10vw;
  padding: 3vw;
  box-shadow: 2vw 2vw olive;
}

#third-form {
  margin-top: 5vw;
}

#deskripsi {
  margin: 5vw 0;
  width: 100%;
  height: 40vw;
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  font-family: 'Roboto';
  padding: 4vw;
  border: none;
  border-radius: 5vw;
  background-color: gold;
  box-shadow: 2vw 2vw DarkOliveGreen;
}

#submit-form {
  width: 50%;
  height: 15vw;
  font-size: 7vw;
  color: white;
  background-color: FireBrick;
  font-weight: bold;
  border: none;
  border-radius: 2vw;
  box-shadow: 2vw 2vw maroon;
}

#submitting {
  height: 100vh;
  weight: 100vw;
  background-color: DarkOrange;
  z-index: 1;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}

#submitting .logo {
  width: 50vw;
  margin: 30vw 25vw 0 25vw;
  display: inline;
  /* margin: 0 auto; */
}

#submitting .tick {
  width: 20vw;
  margin-left: 40vw;
}

#submitting .dot {
  position: fixed;
  bottom: 15vw;
  margin-top: 30vw;
  margin-left: 41vw;
  background-color: FireBrick;
}

#submitting .dot img{
  width: 18vw;
  padding: 4vw
}

a {
  cursor: default;
}

button:active {
  box-shadow: 0 0;
  transform: translate(2vw, 2vw);
}

a.dot:active {
  box-shadow: 0 0;
  transform: translate(2vw, 2vw);
}

#submit-form:active {
  box-shadow: 0 0;
  transform: translate(2vw, 2vw);
}
