nav {
  display: block;
  background-color: DarkRed;
  overflow: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  font-size: 5vw;
  margin: 5vw 6vw;
  text-decoration: none;
  color: white;
}

nav #account-toggle {
  background-color: LightGrey;
  width: 40vw;
  padding: 1vw 2vw 1vw 5vw;
  margin: 3vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: black;
  border-radius: 3vw 0 0 3vw;
  font-size: 5vw
}


nav #account-toggle>span {
  display: inline-block;
}

nav #account-toggle .dot {
  height: 8vw;
  width: 8vw;
  background-color: white;
  border-radius: 50%;
  text-align: right;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay .bar {
  height: 16vw;
  background-color: DarkRed;
}

#overlay form {
  background-color: LightGrey;
  padding: 5vw;
}

#overlay form input,
#overlay form a {
  box-sizing: border-box;
  border: none;
  padding: 3vw;
  font-size: 6vw;
  border-radius: 2vw;
}

#overlay input[type*="text"],
#overlay input[type*="password"] {
  width: 100%;
}

#overlay input[type*="password"] {
  background-color: WhiteSmoke;
  margin-top: 5vw;
}

#overlay .buttons {
  margin-top: 5vw;
  color: white;
}

#overlay .buttons>* {
  width: 45%;
  display: inline-block;
}

#overlay input[type*="submit"] {
  background-color: DarkRed;
  color: inherit;
  float: right;
}

#overlay a {
  background-color: FireBrick;
  text-align: center;
  margin: 0;
}

#overlay .exit-overlay {
  height: 100%;
}
